
<body class="container">
  <form class="vertical-center" [formGroup]="userForm" (ngSubmit)="addAccount()">
    <label for="username">Username: </label>
    <input [(ngModel)]="acc.username" id="username" type="text" formControlName="username"><br />

    <label for="passwod">Password: </label>
    <input [(ngModel)]="acc.password" id="passwod" type="password" formControlName="passwod"><br />
    <br />
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
</body>
