<body style="max-width: 500px ; margin: auto">
  <form class="form-singin" [formGroup]="userForm" (ngSubmit)="addAccount()">
    <div class="container-fluid" content="width=device-width, initial-scale=1">
      <h2 class="form-signin-heading">Register</h2>

      <input [(ngModel)]="acc.username" class="form-control" id="username" type="text" formControlName="username" placeholder="Username (minimum 4 characterrs!)"><br />
      <div *ngIf="userForm.controls['username'].invalid && (userForm.controls['username'].dirty || userForm.controls['username'].touched)" class="alert alert-warning">
          Username must have more than 4 characterrs.
      </div>

      <input [(ngModel)]="acc.password" class="form-control" type="password" formControlName="password" placeholder="Password (minimum 5 characterrs!)"><br />   
      <div *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)" class="alert alert-warning">
        Password must have more than 6 characterrs.
      </div>

      <!-- <button ng-if="!data" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!userForm.valid">Submit</button> -->

      <button
        style="margin: 50px; padding: 10px"
        type="submit"
        class="btn btn-lg btn-primary btn-block"
        (click)="openPopup()"
        [disabled]="!userForm.valid">Show Data
        </button>
          <div
          class="modal"
          tabindex="-1"
          role="dialog"
          [ngStyle]="{'display':displayStyle}">
            <div *ngIf="userAvailable" class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Account control</h4>
                </div>
              <div class="alert alert-success">
                <p>You have registered successfully :)</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                    (click)="closePopup()">Close</button>
              </div>
            </div>
          </div>
          <div *ngIf="!userAvailable" class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Username Control</h4>
              </div>
              <div class="alert alert-danger">
                <p>Username is not available.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                    (click)="closePopup()">Close</button>
              </div>
            </div>
          </div>
        </div>

    </div>
  </form>
</body>



