<body style="max-width: 500px ; margin: auto">
  <form class="form-singin" [formGroup]="userForm" (ngSubmit)="addAccount()">
    <div class="container-fluid" content="width=device-width, initial-scale=1">
      <h2 class="form-signin-heading">Register</h2>

      <input [(ngModel)]="acc.username" class="form-control" id="username" type="text" formControlName="username" placeholder="Username (minimum 4 characterrs!)"><br />
      <div  *ngIf="userForm.controls.username.errors && (userForm.controls.username.dirty || userForm.controls.username.touched)">
        <p class="alert alert-danger" >Username must have more than 4 characters !</p>
      </div> 

      <input [(ngModel)]="acc.password" class="form-control" type="password" formControlName="password" placeholder="Password (minimum 5 characterrs!)"><br />
      <div  *ngIf="userForm.controls.password.errors && (userForm.controls.password.dirty || userForm.controls.password.touched)">
        <p class="alert alert-danger" >Password must have more than 6 characters !</p>
      </div> 

      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!userForm.valid">Submit</button>
    </div>
  </form>
</body>
