<div class="example-container mat-elevation-z8" style="overflow-x:auto;">
  <table matSort (matSortChange)="sortData($event)" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header="name">Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Temperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header="temp"> Temperature </th>
      <td mat-cell *matCellDef="let element"> {{element.temperature}} C</td>
    </ng-container>

    <ng-container matColumnDef="Humidity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header="humidity"> Humidity </th>
      <td mat-cell *matCellDef="let element"> {{element.humidity}} %</td>
    </ng-container>

    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="Wind Speed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header="windspeed"> WindSpeed </th>
      <td mat-cell *matCellDef="let element"> {{element.windspeed}} </td>
    </ng-container> -->

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <fa-icon (click)="onDelete(element.name)" [icon]="faTrash" ></fa-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
